$blue-color: #4488bb;
$grey-color: #eeeeee;
$darker-grey-color: #aaaaaa;
$error-red: #bb4444;

/* Button gradient*/
$button-gradient-start: #4488bb;
$button-gradient-end: #2e5d80;

/* Timings */
$animation-rate: .3s;
